/*top nav code*/

body {
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;/*create space around elements,outside of any defined borders*/
  font-family: Arial, Helvetica, sans-serif;    /*specify the font of a text*/
}

.topnav {
  overflow: hidden;               /*content overflows an element's box*/
  background-color: #333;
}

.topnav a {                       /*create a top navigation bar*/
  float: left;                   /*positioning and formatting content*/
  display: block;                /*display behaviour of an element*/
  color: #f2f2f2;
  text-align: center;            /*horizontal alignment of text in an element*/
  padding: 14px 16px;           /*generate space around an element's content,inside of any defined borders*/
  text-decoration: none;        /*style of the text decoration (like solid,wavy,dotted)*/
  font-size: 17px;              /*resize the text*/
}


.topnav a:hover {                /*:hover- change the style of a button when you move the mouse over it*/
  background-color: #ddd;
  color: black;
}
          /* tag, .class , id{}*/

.topnav a.active {          /*composite css*/
  background-color:#04aa4b;
  color: white;
}

.topnav .icon {
  display: none;                                 /*none=element completely removed*/
}


@media screen and (max-width: 600px) {                  /*used in media queries to apply different styles for different media types/devices*/
                                                       /*media for responsive , screen =mobile or laptop ke screen*/
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  @media screen and (max-width: 600px) {
      a.green_mobile{
       background-color:#04aa4b;
  }

}


  }

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
}
     body {
  font-family: "Lato", sans-serif;
}
/*side nav code*/
.sidenav {                                 /*display the navigation pane to the left of the page content*/
  height: 100%;
  width: 0;
  position: fixed;                        /*type of positioning method used for an element*/
  z-index: 1;                             /*stack order of an element*/
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;                      /*change property values smoothly,over a given duration*/
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {                     /*:hover- change the style of a button when you move the mouse over it*/
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
     .font_heading_mobile{
      font-size: 2em;
      }
       .font_paragraph_mobile{
        font-size: 0.9em;
        }
.center-align{
  text-align: center;
  }
           /*slide show code*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;                    /*mouse cursor to be displayed*/
  position: absolute;                 /*type of positioning method used for an element*/
  top: 50%;                           /*set the top edge of on element*/
  width: auto;                        /*width of an element*/
  padding: 7px;
  margin-top: -17px;                  /*top margin for a <p> element*/
  color: white;
  font-weight: bold;                   /*sets how thick or thin  characters in text should be displayed*/
  font-size: 18px;
  transition: 0.6s ease;                /*allow to change property values smoothly,over a given duration*/
  border-radius: 0 3px 3px 0;            /*add rounded borders to an element*/
  user-select: none;                     /*text of an element can be selected*/
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:  #9E9E9E;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





.caption-div{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption-border{
    background-color:   #9E9E9E;
    color: #fff;
    padding: 9px;
    font-size: 15px;
    letter-spacing: 5px;
}
@media only screen and (max-width: 600px) {
     .caption-border{
      font-size: 9px;
      letter-spacing: 2px;
     }
}

.border-w-shadow {
  border-style: solid;
  border-width: 1px;
  border-color: #95A5A6;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

                /*parallax code*/
body, html {
  height: 100%;
}

.parallax-1,.parallax-2,.parallax-3 {
  /* The image used */

  position: relative;

  /* Full height */
  height: 100%;
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-1{
background-image: url('img_parallax.jpg');
}
.parallax-2{
background-image: url('img_parallax3.jpg');
}
.parallax-3{
background-image: url('img_parallax.jpg');
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/*our team section*/

.title{
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    margin: 10px 0;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #726a95;
    margin: 15px 0;
}

.member p{
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}